<div class="container">
  <img src="assets/img/cover5.jpg" alt="">
  <div class="icons">
    <span class="material-symbols-outlined">check_box_outline_blank</span>
    <span class="material-symbols-outlined">android_messages</span>
    <span class="material-symbols-outlined" (click)="clickEvent()">more_vert</span>
    <div class="dropdown-content" [ngClass]="{'show' : status}">
      <a href="#">New Group</a>
      <a href="#">Archived</a>
      <a href="#">Starred Messages</a>
      <a href="#">Settings</a>
      <a href="#">Log out</a>
    </div>
  </div>
</div>
