
.chat-window {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 60vw;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #303f48;
}

.chatter {
  display: flex;
  align-items: center;
  margin: 15px;
  max-width: 50%;
  padding: 10px;
  border-radius: 12px;
  color: #e9edef;

  font-size: 14.2px;

  //defaults to slave
  background-color: #202c33;
  align-self: flex-start;

  .timestamp{
    white-space:nowrap;
  }
}

.master {
  background-color: #005c4b;
  align-self: flex-end;
}

.timestamp {
  align-self: flex-end;
  margin-left: 2em;
  font-size: 11px;
  color: #FFFFFF99;
}

