.container {

}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 85vh;
  background-color: #303f48;
}

.chatter {
  display: flex;
  align-items: center;
  margin: 15px;
  max-width: 40%;
  padding: 10px;
  border-radius: 8px;
  color: #e9edef;
}

.master {
  background-color: #005c4b;
  align-self: flex-end;
}

.slave {
  background-color: #202c33;
  align-self: flex-start;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
