<div class="container">
  <div class="chat-window">
    <p class="chatter master">Hallo</p>
    <p class="chatter slave">Guten Tag</p>
    <p class="chatter slave">Guten Tag</p>
    <p class="chatter master">Hallo</p>
    <p class="chatter master">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque deleniti dolorem doloribus expedita magni numquam, quaerat ratione sint voluptatem. Beatae blanditiis dignissimos distinctio dolorem ea error eveniet explicabo facilis fugit labore, magni modi molestias neque nostrum, nulla odit pariatur perspiciatis ratione repudiandae sunt, tempore temporibus tenetur voluptates? Laborum, quae.</p>
    <p class="chatter slave">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cumque deleniti dolorem doloribus expedita magni numquam, quaerat ratione sint voluptatem. Beatae blanditiis dignissimos distinctio dolorem ea error eveniet explicabo facilis fugit labore, magni modi molestias neque nostrum, nulla odit pariatur perspiciatis ratione repudiandae sunt, tempore temporibus tenetur voluptates? Laborum, quae.</p>
  </div>
</div>
