<div class="app">
  <div class="sidebar">
    <ch-sidebar-top></ch-sidebar-top>
    <ch-search></ch-search>
    <ch-chats-overview (newItemEvent)="openChatId = $event"></ch-chats-overview>
  </div>
  <div class="content">
    <ch-chat-window-header></ch-chat-window-header>
    <ch-chat-window *ngIf="openChatId !== undefined; else elseWindow" [chatId]="openChatId"></ch-chat-window>
    <ch-chat-input></ch-chat-input>

    <ng-template #elseWindow>
      <ch-chat-window [chatId]="0"></ch-chat-window>
    </ng-template>
  </div>

  <div *ngIf="false">
    <div class="contact">to be replaced</div>
    <div class="search-chat">to be replaced</div>
  </div>
</div>
