.app {
  display: flex;
  //box-shadow: 0 6px 18px rgba(11, 20, 26, .05);
  width: 90%;
  justify-content: center;
  //align-items: center; //fucks shit up
  margin: 0 auto;

  @media (max-width: 700px) {
    width: 100%;
  }


}

.sidebar, .content {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}
